/* .grid-header {
  grid-area: header;  
  color: white;
  font-size: 14px;
  text-align: center;
  background-color: #3177c8;
} */
ul {
  list-style-type: none;
  padding:5px;
  overflow: hidden;
}

li {
  display: inline;
}
li a {
  padding: 14px 16px;
}

/* header {
  grid-area: header;
  background-color: #fed330;
  padding: 20px;
} */